.nav__section {
  position: fixed;
  width: 100%;
  height: 100px;
  text-rendering: optimizeSpeed;
  background-color: var(--BG-color);
  color: var(--TEXT-color);
  display: flex;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.nav__section .logo__section {
  padding: 8px 0;
}

.nav__section .category__section {
  // padding: 38px 0;
}

.nav__section .category__section .nav__list {
  display: flex;
  list-style-type: none;
}

.nav__section .category__section .nav__list li {
  padding: 38px 0;
}

.nav__section .category__section .nav__list li a {
  color: var(--TEXT-color);
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 12px;
  text-decoration: none;
}

.nav__section .action__section .sign__in:hover,
.nav__section .action__section .cart__section:hover,
.nav__section .category__section .nav__list li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nav__section .search__section {
  display: flex;
  margin: 30px 0;
  overflow: hidden;
  border-radius: 12px;
  background-color: #ddd;
}

.nav__section .search__section .search__input {
  border: none;
  outline: none;
  width: 400px;
  font-size: 16px;
  padding: 12px 8px;
  background-color: transparent;
}

.nav__section .search__section .input__icon:hover {
  cursor: pointer;
  background-color: #ccc;
}

.nav__section .search__section .input__icon {
  color: black;
  font-size: 22px;
  padding: 8px 12px;
}

.nav__section .action__section {
  display: flex;
  font-size: 18px;
  padding: 30px 0;
}

.nav__section .action__section .sign__in,
.nav__section .action__section .cart__section {
  display: flex;
  align-items: center;
  padding: 9px;
  margin: 0px 6px;
  border-radius: 12px;
  background-color: var(--BTN-color);
}

.nav__section .action__section .sign__in .user__icon,
.nav__section .action__section .cart__section .cart__icon {
  font-size: 18px;
}

.nav__section .action__section .sign__in .sign__text,
.nav__section .action__section .cart__section .cart__text {
  margin-left: 6px;
}

.wrapper .subnav__section {
  padding: 100px 400px 0px;
}

.wrapper .subnav__section .sub__nav li {
  margin-top: 6px;
  list-style-type: none;
}

.wrapper .subnav__section .sub__nav li a {
  display: none;
  max-width: 180px;
  padding: 12px 8px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--TEXT-color);
  background-color: var(--BTN-color);
}
